<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certifications - {{ name }}</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    
    <div class="container">
        <h1>📜 Certifications</h1>

        <div class="navbar">
            <ul>
                <li><a href="../index.html">🏠 Home</a></li>
                <li><a href="experience.html">👔 Experience</a></li>
                <li><a href="skills.html">⚡ Skills</a></li>
                <li><a href="certifications.html">📜 Certifications</a></li>
                <li><a href="education.html">🎓 Education</a></li>
                <li><a href="contactme.html">📧 Contact Me</a></li>
            </ul>
        </div> 
        <div class = 'grid'>
        {% for cert in certifications %}
            <div class = 'card'>
            <h3>{{ cert.name }}</h3>
            <p>Issued by: {{ cert.provider }}</p>
            <p><i>{{ cert.date }}</i></p>
            {% if cert.link %}
                <p><a class="button" href="{{ cert.link }}" target="_blank">View Certificate</a></p>
            {% endif %}
            </div>
        {% endfor %}
        </div>
        <div class="footer">
            <p>📧 <a href="mailto:{{ email }}">Email</a> | 🔗 <a href="{{ linkedin }}">LinkedIn</a> | 💻 <a href="{{ github }}">Github</a></p>
        </div>
    </div>
</body>
</html>
