<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>📧 Contact Me</h1>
        <div class="navbar">
            <ul>
                <li><a href="../index.html">🏠 Home</a></li>
                <li><a href="experience.html">👔 Experience</a></li>
                <li><a href="certifications.html">📜 Certifications</a></li>
                <li><a href="education.html">🎓 Education</a></li>
                <li><a href="contactme.html">📧 Contact Me</a></li>
            </ul>
        </div>
        <div class="grid">
            <form action="{{form}}" method="POST">
                <h3>Drop in a message below! </h3>
                <input type="text" name="name" placeholder="Your Name" required>
                <input type="email" name="email" placeholder="Your Email" required>
                <textarea name="message" placeholder="Your Message" rows="4" required></textarea>
                <button type="submit" class="button">Send Message</button>
            </form>
       </div>
       <div class="footer">
        <p>📧 <a href="mailto:{{ email }}">Email</a> | 🔗 <a href="{{ linkedin }}">LinkedIn</a> | 💻 <a href="{{ github }}">Github</a></p>
    </div>
    </div>
</body>
</html>
