<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education - {{ name }}</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    
    <div class="container">
        <h1>🎓 Education</h1>

        <div class="navbar">
            <ul>
                <li><a href="../index.html">🏠 Home</a></li>
                <li><a href="experience.html">👔 Experience</a></li>
                <li><a href="skills.html">⚡ Skills</a></li>
                <li><a href="certifications.html">📜 Certifications</a></li>
                <li><a href="education.html">🎓 Education</a></li>
                <li><a href="contactme.html">📧 Contact Me</a></li>
            </ul>
        </div> 
        <div class = 'grid'>
        {% for edu in education %}
            <div class = 'card'>
            <h3>{{ edu.degree }}</h3>
            <p><strong>{{ edu.institution }}</strong> ({{ edu.duration }})</p>
            </div>
        {% endfor %}
        </div>
        <div class="footer">
            <p>📧 <a href="mailto:{{ email }}">Email</a> | 🔗 <a href="{{ linkedin }}">LinkedIn</a> | 💻 <a href="{{ github }}">Github</a></p>
        </div>
    </div>
</body>
</html>
