<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience - {{ name }}</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>👔 Experience</h1>
        <div class="navbar">
            <ul>
                <li><a href="../index.html">🏠 Home</a></li>
                <li><a href="experience.html">👔 Experience</a></li>
                <li><a href="skills.html">⚡ Skills</a></li>
                <li><a href="certifications.html">📜 Certifications</a></li>
                <li><a href="education.html">🎓 Education</a></li>
                <li><a href="contactme.html">📧 Contact Me</a></li>
            </ul>
        </div>  
        {% for job in experience %}
        <div class = 'grid'>
            <h2>{{job.company.upper()}} <br> - {{job.location}}<br> <p><i>{{job.role}}</i></p></h2>
            {% for positions in job.positions %}
            <div class = 'card'>
                <h3>{{ positions.title }}</h3>
                <p><i>{{ positions.duration }}</i></p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="footer">
            <p>📧 <a href="mailto:{{ email }}">Email</a> | 🔗 <a href="{{ linkedin }}">LinkedIn</a> | 💻 <a href="{{ github }}">Github</a></p>
        </div>
    </div>
    <script>
        const keyProjectsCard = document.getElementById('keyProjects');
        keyProjectsCard.addEventListener('click', function() {
          this.classList.toggle('expanded');
          const hiddenContent = this.querySelector('.hidden-content');
          if (hiddenContent.style.display === 'none' || hiddenContent.style.display === '') {
            hiddenContent.style.display = 'block';
          } else {
            hiddenContent.style.display = 'none';
          }
        });
      </script> 
</body>
</html>
