<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience - {{ name }}</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body> 
    <div class="container">
        <h1>👔 Experience & Projects</h1>
        <div class="navbar">
            <ul>
                <li><a href="../index.html">🏠 Home</a></li>
                <li><a href="experience.html">👔 Experience</a></li>
                <li><a href="certifications.html">📜 Certifications</a></li>
                <li><a href="education.html">🎓 Education</a></li>
            </ul>
        </div>   
        <div class = 'grid'>
        {% for job in experience %}
            <div class = 'card'>
            {% for positions in job.positions %}
                <h2>{{ positions.title }} - {{ job.company }}</h2>
                <p><i>{{ positions.duration }}</i></p>
                <p>{{ positions.description }}</p>

                {% if positions.projects %}
                    <h3>💾 Key Projects:</h3>
                    <ul>
                        {% for project in positions.projects %}
                            <li><strong>{{ project.name }}</strong>: {{ project.description }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <hr>
            </div>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
</body>
</html>
