<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} - Portfolio</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>👾 Welcome to {{ name }}'s Portfolio</h1>
        <p>{{ bio }}</p>

        <div class="navbar">
            <ul>
                <li><a href="index.html">🏠 Home</a></li>
                <li><a href="portfolio/experience.html">👔 Experience</a></li>
                <li><a href="portfolio/certifications.html">📜 Certifications</a></li>
                <li><a href="portfolio/education.html">🎓 Education</a></li>
            </ul>
        </div>        

        <p><a class="button" href="{{github}}">Check My Work 🚀</a></p>

        <div class="footer">
            <p>📧 Contact: {{ email }}</p>
            <p>🔗 <a href="{{ linkedin }}" target="_blank">LinkedIn</a></p>
        </div>
    </div>
</body>
</html>
